*{font-family: 'Noto Sans KR', sans-serif; letter-spacing: -1px;word-break: keep-all;}
html, body{
  margin: 0;
  padding: 0;
}

#root{margin-top: 113px;background-color: #f3ebcb;}

#h_logo{
  display: flex;
  align-items: center;
}

.slide_wrapper{
  display: flex;
  max-width: 1920px;
  width: 100%;
  height: 60vh;
  max-height: 700px;
  margin: 0 auto;
  background-color: #f3ebcb;
}

.slick-list{height: 70%;}

.slick-slider{
  width: 90%;
  height: 100%;
  margin: 0px auto 0;
}

.slick-prev, .slick-next{
  display: none !important;
}
.slide_item{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* TEST */
/* .slide_item{background-color: #666;}
.slide_text{background-color: #999;}
.slide_image{background-color: #eee;} */

.slide_text{
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.slide_image {
  width: 60vw;
  height: 100%;
  background-color: #000;
}

.slick-dots{
  display: flex !important;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
}

.slick-dots li{
  width: 20%;
  height: 100%;
  margin: 0;
}

.slick-dots .slick-active{
  background-color: #ff360a;
  border-radius: 10px;
  color: #fff;
}
.slick-dots .slick-active::after{
  display: block;
  content: '';
  position: absolute;
  top: -15px;
  left: calc(50% - 7px);
  border-top: 0 solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom:15px solid #ff360a;
}

.paging_item{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.paging_image{
  height: 100%;
}